/**
 * file: css/css.css
 * purpose: styling
 **/

/* Define variables in the :root */
 :root {
   --contrast: white;
   --backgr: black;
   --table: #000000;
 }

 *{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
 background: transparent;
}

/* Use your variables on elements */
 main {
   color: var(--contrast);
   background-color: var(--backgr);
 }

 .title {
align-items: center;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-weight: bold;
font-size: 50px;

 }

 .titlepara {
align-items: center;
 }

 .movie-overview{
  border: 1px solid var(--table);
  border-collapse: collapse;
 }

 table{
  border: 1px solid var(--table);
  border-collapse: collapse;
  width: auto;
  font-weight: lighter;
  color: var(--backgr);
  text-align: center;
  background-color: var(--contrast);
  margin-left: 20px;
  margin-right: 20px;
 }


 .boldtext {
  font-weight: bold;
  font-size: 20px;
 }


 .movie-sugg {
  padding-top: 10px;
  padding-bottom: 50px;
 }